{% extends "adminlte/acceso.html" %}{% block body %}
<!-- Agregando un margen superior para mover el diseño hacia abajo -->
<br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Lista de Profesores</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido Paterno</th>
                                <th>Apellido Materno</th>
                                <th>Boleta</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for profesor in profesores %}
                            <tr>
                                <td>{{ profesor.nombre }}</td>
                                <td>{{ profesor.apellido_p }}</td>
                                <td>{{ profesor.apellido_m }}</td>
                                <td>{{ profesor.boleta }}</td>
                                <td>
                                    <a href="{% url 'editar_profesor' profesor.id %}" class="btn btn-primary btn-sm">Editar</a>
                                    <a href="{% url 'eliminar_profesor' profesor.id %}" class="btn btn-danger btn-sm" onclick="return confirm('¿Deseas eliminar este Profesor?')">Eliminar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="{% url 'agregar_profesor' %}" class="btn btn-success">Agregar Profesor</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}