{% extends "adminlte/acceso.html" %}{% block body %}
  <div class="right_col" role="main">
    <br>
    <div class="card">
      <div class="card-header">
        <h2 class="card-title text-center">Agregando Encargado</h2>
      </div>
      <div class="card-body">
        <form class="form" method="POST" action="{% url 'validacionA_encargado'%}">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-4">
              <!-- Tabla de Año de Produccion -->
              <div class="contenedorTablaForms">
                <table class="table">
                    <tr>
                      <td>
                        <label>Nombre</label>
                        <input type="text" name="nombre" class="form-control" required
                            placeholder="Inserta Nombre del Encargado">
                      </td>
                    </tr>
                    <tr>
                        <td>
                          <label>Apellido Paterno</label>
                          <input type="text" name="apellido_p" class="form-control" required
                              placeholder="Inserta el Apellido Paterno del Encargado">
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <label>Apellido Materno</label>
                          <input type="text" name="apellido_m" class="form-control" required
                              placeholder="Inserta el Apellido Materno del Encargado">
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <label>Usuario</label>
                          <input type="text" name="usuario" class="form-control" required
                              placeholder="Inserta el Usuario del Encargado">
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <label>Contraseña</label>
                          <input type="password" name="contrasenia" class="form-control" required
                              placeholder="Inserta la contraseña del Encargado">
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <label>Repetir Contraseña</label>
                          <input type="password" name="repcontrasenia" class="form-control" required
                              placeholder="Inserta la contraseña del Encargado">
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <label>Hora de Entrada: </label>
                          <input type="time" name="hora_entrada" class="form-control"
                              placeholder="Inserta Hora de Entrada">
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <label>Hora de Salida: </label>
                          <input type="time" name="hora_salida" class="form-control"
                              placeholder="Inserta Hora de Salida">
                        </td>
                    </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <input type="submit" value="Agregar" class="btn btn-success">
            <a href="{% url 'encargados' %}">
              <button type="button" class="btn btn-danger">Cancelar</button>
            </a>
          </div>
        </form>
      </div>
    </div>         
  </div>
{% endblock %}