{% extends "adminlte/acceso.html" %}{% block body %}
<div class="right_col" role="main">
    <br>
    <form class="formAgregar" method="post" action="{% url 'validacionE_encargado' %}">
        <h2 class="text-center">Modificando Encargado:  {{ modificando.nombre }} {{ modificando.apellido_p }} {{ modificando.apellido_m }}</h2>
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ modificando.id }}">
        Nombre: <input type="text" name="nombre" class="form-control my-2" value="{{ modificando.nombre }}" readonly>
        Apellido Paterno: <input type="text" name="apellido_p" class="form-control my-2" required value="{{ modificando.apellido_p }}">
        Apellido Materno: <input type="text" name="apellido_m" class="form-control my-2" required value="{{ modificando.apellido_m }}">
        Usuario: <input type="text" name="usuario" class="form-control my-2" required value="{{ modificando.usuario }}">
        Contraseña: <input type="password" name="contrasenia" class="form-control my-2" required value="{{ modificando.contrasenia }}">
        Repetir Contraseña: <input type="password" name="repcontrasenia" class="form-control my-2" required value="{{ modificando.contrasenia }}">
        Hora Entrada: <input type="time" name="hora_entrada" class="form-control my-2" required placeholder="HH:mm" value="{{ modificando.hora_entrada }}">
        Hora Salida: <input type="time" name="hora_salida" class="form-control my-2" required placeholder="HH:mm" value="{{ modificando.hora_salida }}">

        <label for="activo">Activo:</label>
        <input type="checkbox" name="activo" id="activo" {% if encargado.activo %}checked{% endif %}>
        <input type="hidden" name="activo" value="0">
        <input type="checkbox" name="activo" value="1" style="display:none;">

        <div class="d-flex justify-content-between">
            <input type="submit" value="Editar" class="btn btn-warning">
            <a href="{% url 'encargados' %}"><button type="button" class="btn btn-danger">Cancelar</button></a>
        </div>
    </form>        
</div>
{% endblock %}