{% extends "adminlte/acceso.html" %}
{% block body %}
<br>
<!-- Ventana principal MOSTRAR encargados -->
<div class="row">
    <div class="col-md-12">
        <div class="card" style="border: none; border-radius: 10px; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);">
            <div class="card-header" style="text-align: center; background-color: #6D1A42; color: #ffffff; border-top-left-radius: 10px; border-top-right-radius: 10px; padding: 15px;">
                <h3 class="card-title" style="font-size: 30px;">Lista de Encargados</h3>
            </div>
            <div class="card-body" style="background-color: #ffffff; padding: 20px;">
                <table class="table table-bordered table-hover" id="tablita">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th>Hora de entrada</th>
                            <th>Hora de salida</th>
                            <th>Usuario</th>
                            <th>Activo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for encargado in encargados %}
                        <tr>
                            <td>{{ encargado.nombre }}</td>
                            <td>{{ encargado.apellido_p }}</td>
                            <td>{{ encargado.apellido_m }}</td>
                            <td>{{ encargado.hora_entrada|default:"N/A" }}</td>
                            <td>{{ encargado.hora_salida|default:"N/A" }}</td>
                            <td>{{ encargado.usuario }}</td>
                            <td>{{ encargado.estado }}</td>
                            <td>
                                <button class="btn btn-primary btn-sm btn-editar"
                                    data-toggle="modal"
                                    data-target="#editarModal"
                                    data-id="{{ encargado.id }}"
                                    data-nombre="{{ encargado.nombre }}"
                                    data-apellido_p="{{ encargado.apellido_p }}"
                                    data-apellido_m="{{ encargado.apellido_m }}"
                                    data-hora_entrada="{{ encargado.hora_entrada }}"
                                    data-hora_salida="{{ encargado.hora_salida }}"
                                    data-usuario="{{ encargado.usuario }}"
                                    data-contrasenia="{{ encargado.contrasenia }}"
                                    data-estado="{{ encargado.estado }}"
                                    data-activo="{{ encargado.activo }}"><i class="fas fa-edit"></i></button>
                                <a href="{% url 'eliminar_encargado' encargado.id %}" class="btn btn-danger btn-sm"
                                    onclick="return confirm('¿Deseas eliminar este Encargado?')"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#agregarModal">
                    Agregar Encargado
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Ventana modal para EDITAR encargado -->
<div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificando Encargado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Contenido de la ventana modal aquí -->
                <form class="formAgregar" id="editarForm" method="post" action="{% url 'validacionE_encargado' %}">
                    {% csrf_token %}
                    <input type="hidden" name="id" id="id_encargado">
                    Nombre: <input type="text" name="nombre" id="id_nombre" class="form-control my-2">
                    Apellido Paterno: <input type="text" name="apellido_p" id="id_apellido_p" class="form-control my-2" required>
                    Apellido Materno: <input type="text" name="apellido_m" id="id_apellido_m" class="form-control my-2" required>
                    Usuario: <input type="text" name="usuario" id="id_usuario" class="form-control my-2" required>
                    Contraseña: <input type="password" name="contrasenia" id= "id_contrasenia" class="form-control my-2" required>
                    Repetir Contraseña: <input type="password" name="repcontrasenia" id="id_repcontrasenia" class="form-control my-2" required>
                    Hora Entrada: <input type="time" name="hora_entrada" id="id_hora_entrada" class="form-control my-2" required placeholder="HH:mm">
                    Hora Salida: <input type="time" name="hora_salida" id="id_hora_salida" class="form-control my-2" required placeholder="HH:mm">

                    <label for="activo">Activo:</label>
                    <input type="checkbox" name="activo" id="activo" value="1">
                    <input type="hidden" name="activo" value="0">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-editar">Editar Encargado</button>
            </div>
        </div>
    </div>
</div>
<!-- Ventana modal para AGREGAR encargado -->
<div class="modal fade" id="agregarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Encargado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="formAgregar" id="agregarForm" method="post" action="{% url 'validacionA_encargado'%}">
                    {% csrf_token %}
                    Nombre: <input type="text" name="nombre" id="id_nombre" class="form-control my-2">
                    Apellido Paterno: <input type="text" name="apellido_p" id="id_apellido_p" class="form-control my-2" required>
                    Apellido Materno: <input type="text" name="apellido_m" id="id_apellido_m" class="form-control my-2" required>
                    Usuario: <input type="text" name="usuario" id="id_usuario" class="form-control my-2" required>
                    Contraseña: <input type="password" name="contrasenia" id= "id_contrasenia" class="form-control my-2" required>
                    Repetir Contraseña: <input type="password" name="repcontrasenia" id="id_repcontrasenia" class="form-control my-2" required>
                    Hora Entrada: <input type="time" name="hora_entrada" id="id_hora_entrada" class="form-control my-2" required placeholder="HH:mm">
                    Hora Salida: <input type="time" name="hora_salida" id="id_hora_salida" class="form-control my-2" required placeholder="HH:mm">

                    <label for="activo">Activo:</label>
                    <input type="checkbox" name="activo" id="activo" value="1">
                    <input type="hidden" name="activo" value="0">
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btn-guardar">Guardar Encargado</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    //Funcion para la tabla y obtener datos
    $(document).ready(function () {
        $('#tablita').DataTable({
            ...idioma
        });

        // Usamos un evento delegado para manejar los clics en los botones de "Editar"
        $('#tablita').on('click', '.btn-editar', function () {
            // Obtener los datos del encargado de la fila
            var nombre = $(this).data("nombre");
            var apellido_p = $(this).data("apellido_p");
            var apellido_m = $(this).data("apellido_m");
            var hora_entrada = $(this).data("hora_entrada");
            var hora_salida = $(this).data("hora_salida");
            var usuario = $(this).data("usuario");
            var contrasenia = $(this).data("contrasenia");
            var repcontrasenia = $(this).data("contrasenia");
            var estado = $(this).data("estado");
            var activo = $(this).data("activo");
            var id = $(this).data("id");

            // Rellenar el formulario de la ventana modal con los datos del encargado
            $("#editarForm #id_nombre").val(nombre);
            $("#editarForm #id_apellido_p").val(apellido_p);
            $("#editarForm #id_apellido_m").val(apellido_m);
            $("#editarForm #id_hora_entrada").val(hora_entrada);
            $("#editarForm #id_hora_salida").val(hora_salida);
            $("#editarForm #id_usuario").val(usuario);
            $("#editarForm #id_contrasenia").val(contrasenia);
            $("#editarForm #id_repcontrasenia").val(repcontrasenia);
            $("#editarForm #id_encargado").val(id);

            $("#activo").prop("checked", activo === 1);

        });
    });
   //Funcion para abrir Ventana de EDITAR
    $(document).ready(function () {
        // Captura el evento de clic en el botón "Editar Encargado" y envía el formulario
        $('#btn-editar').click(function () {
            $('#editarForm').submit();
        });
    });
    //Funcion para abrir Ventana de AGREGAR
    $(document).ready(function () {
        // Captura el evento de clic en el botón "Guardar Encargado" y envía el formulario
        $('#btn-guardar').click(function () {
            $('#agregarForm').submit();
        });
    });
</script>
{% endblock %}
