{% extends "adminlte/acceso.html" %}{% block body %}
<br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Lista de Encargados</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover" id="tabla-encargados">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido Paterno</th>
                                <th>Apellido Materno</th>
                                <th>Hora de entrada</th>
                                <th>Hora de salida</th>
                                <th>Usuario</th>
                                <th>Activo</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for encargado in encargados %}
                            <tr>
                                <td>{{ encargado.nombre }}</td>
                                <td>{{ encargado.apellido_p }}</td>
                                <td>{{ encargado.apellido_m }}</td>
                                <td>{{ encargado.hora_entrada }}</td>
                                <td>{{ encargado.hora_salida }}</td>
                                <td>{{ encargado.usuario }}</td>
                                <td>{{ encargado.estado }}</td>
                                <td>
                                    <a href="{% url 'editar_encargado' encargado.id %}" class="btn btn-primary btn-sm">Editar</a>
                                    <a href="{% url 'eliminar_encargado' encargado.id %}" class="btn btn-danger btn-sm" onclick="return confirm('¿Deseas eliminar este Encargado?')">Eliminar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="{% url 'agregar_encargado' %}" class="btn btn-success">Agregar Encargado</a>
                </div>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready( function () {
        $('#tabla-encargados').DataTable();
    });
</script>
{% endblock %}