{% extends "adminlte/acceso.html" %}
{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<br>
<!-- Ventana principal MOSTRAR computadoras LABORATORIO 1 -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="background-color: #6D1A42; color: #ffffff;">
                <h3 class="card-title" style="font-size: 30px;">Computadoras del Laboratorio 1</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <!-- Ejemplo de colores -->
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="mr-2">
                                <i class="fas fa-desktop fa-2x activa"></i>
                            </div>
                            <p class="mb-0">Computadora activa</p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <!-- Ejemplo de colores -->
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="mr-2">
                                <i class="fas fa-desktop fa-2x inactiva"></i>
                            </div>
                            <p class="mb-0">Computadora inactiva</p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <!-- Ejemplo de colores -->
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="mr-2">
                                <i class="fas fa-desktop fa-2x ocupada"></i>
                            </div>
                            <p class="mb-0">Computadora ocupada</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for computadora in computadoras %}
                        {% if computadora.laboratorio == 1 %}
                            <div class="col-md-2 mb-1">
                                <div class="card computadora-card">
                                    <div class="card-body">
                                        {% if computadora.estado == 1 %}
                                            {% if computadora.ocupada == 1 %}
                                                <i class="fas fa-desktop ocupada"></i>
                                            {% else %}
                                                <i class="fas fa-desktop activa"></i>
                                            {% endif %}
                                        {% else %}
                                            <i class="fas fa-desktop inactiva"></i>
                                        {% endif %}
                                        <!--<h5 class="card-title custom-card-title">Computadora {{ computadora.numero }}</h5>-->
                                        {% if computadora.ocupada == 1 %}
                                            <i class="fas fa-desktop ocupada estudiante-icon ocupada-icon"></i>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}