{% extends "adminlte/acceso.html" %} {% load static %} {% block body %}
<!-- Content Header (TITULO PRINCIPAL) -->
<br>
<div class="content-header">
  <div class="container-fluid">
      <h1>Instituto Politécnico Nacional</h1>
  </div>
</div>

<div class="slider-container">
  <div class="slider">
    <div class="slide"><a href="https://www.ipn.mx/"><img src="{% static 'img/imagenipn.jpg' %}" alt="Noticia 1"></a></div>
    <div class="slide"><a href="https://www.esimecu.ipn.mx/"><img src="{% static 'img/esimeculhuacan.png' %}" alt="Noticia 2"></a></div>
    <div class="slide"><a href="{% url 'computadoras' %}"><img src="{% static 'img/computerlabs.jpg' %}" alt="Noticia 3"></a></div>
    <div class="slide"><a href="{% static 'img/calendarioEscol.png' %}"><img src="{% static 'img/escolarizada.png' %}" alt="Noticia 4"></a></div>
    <div class="slide"><a href="{% static 'img/calendarioNoEscolpng.png' %}"><img src="{% static 'img/noescolarizada.png' %}" alt="Noticia 5"></a></div>
</div>
  <button class="arrow left" onclick="prevSlide()">&#10094;</button>
  <button class="arrow right" onclick="nextSlide()">&#10095;</button>
</div>
<br>

<script>
  let currentIndex = 0;

    function nextSlide() {
        currentIndex = (currentIndex + 1) % 5; // 5 es el número total de slides
        updateSlider();
    }

    function prevSlide() {
        currentIndex = (currentIndex - 1 + 5) % 5; // 5 es el número total de slides
        updateSlider();
    }

    function updateSlider() {
        const slider = document.querySelector('.slider');
        const slideWidth = document.querySelector('.slide').offsetWidth;
        const newPosition = -currentIndex * slideWidth;
        slider.style.transform = `translateX(${newPosition}px)`;
    }
</script>

<!-- /.content-header -->
<div class="row">
  <!-- Left col -->
  <section class="col-lg-7 connectedSortable">
    <!-- TO DO List -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="ion ion-clipboard mr-1"></i>
          Sesiones proximas
        </h3>
        <div class="card-tools">
          <ul class="pagination pagination-sm">
            <li class="page-item"><a href="#" class="page-link">&laquo;</a></li>
            <li class="page-item"><a href="#" class="page-link">1</a></li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">&raquo;</a></li>
          </ul>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <ul class="todo-list" data-widget="todo-list">
          <li>
            <!-- drag handle -->
            <span class="handle">
              <i class="fas fa-ellipsis-v"></i>
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <!-- checkbox -->
            <div class="icheck-primary d-inline ml-2">
              <input type="checkbox" value="" name="todo1" id="todoCheck1" />
              <label for="todoCheck1"></label>
            </div>
            <!-- todo text -->
            <span class="text">Laboratorio: # Sesion con: Profesor</span>
            <!-- Emphasis label -->
            <small class="badge badge-danger"><i class="far fa-clock"></i>10:00 hrs</small>
            <!-- General tools such as edit or delete-->
            <div class="tools">
              <i class="fas fa-edit"></i>
              <i class="fas fa-trash-o"></i>
            </div>
          </li>
          <li>
            <span class="handle">
              <i class="fas fa-ellipsis-v"></i>
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <div class="icheck-primary d-inline ml-2">
              <input type="checkbox" value="" name="todo2" id="todoCheck2" checked />
              <label for="todoCheck2"></label>
            </div>
            <span class="text">Laboratorio: # Sesion con: Profesor</span>
            <small class="badge badge-info"><i class="far fa-clock"></i>10:00 hrs
            </small>
            <div class="tools">
              <i class="fas fa-edit"></i>
              <i class="fas fa-trash-o"></i>
            </div>
          </li>
          <li>
            <span class="handle">
              <i class="fas fa-ellipsis-v"></i>
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <div class="icheck-primary d-inline ml-2">
              <input type="checkbox" value="" name="todo3" id="todoCheck3" />
              <label for="todoCheck3"></label>
            </div>
            <span class="text">Laboratorio: # Sesion con: Profesor</span>
            <small class="badge badge-warning"><i class="far fa-clock"></i>10:00 hrs</small>
            <div class="tools">
              <i class="fas fa-edit"></i>
              <i class="fas fa-trash-o"></i>
            </div>
          </li>
          <li>
            <span class="handle">
              <i class="fas fa-ellipsis-v"></i>
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <div class="icheck-primary d-inline ml-2">
              <input type="checkbox" value="" name="todo4" id="todoCheck4" />
              <label for="todoCheck4"></label>
            </div>
            <span class="text">Laboratorio: # Sesion con: Profesor</span>
            <small class="badge badge-success"><i class="far fa-clock"></i>10:00 hrs</small>
            <div class="tools">
              <i class="fas fa-edit"></i>
              <i class="fas fa-trash-o"></i>
            </div>
          </li>
        </ul>
      </div>
      <!-- /.card-body -->
      <div class="card-footer clearfix">
        <button type="button" class="btn btn-primary float-right">
          <i class="fas fa-plus"></i>Agregar
        </button>
      </div>
    </div>
    <!-- /.card -->
  </section>
  <!-- /.Left col -->
  <!-- right col -->
</div>

{% endblock %}