{% extends "adminlte/acceso.html" %} {% load static %} {% block body %}
<!-- Content Header (TITULO PRINCIPAL) -->
<br>
<div class="content-header">
  <div class="container-fluid">
      <h1>Instituto Politécnico Nacional</h1>
  </div>
</div>

<div class="slider-container">
  <div class="slider">
    <div class="slide"><a href="https://www.ipn.mx/"><img src="{% static 'img/imagenipn.jpg' %}" alt="Noticia 1"></a></div>
    <div class="slide"><a href="https://www.esimecu.ipn.mx/"><img src="{% static 'img/esimeculhuacan.png' %}" alt="Noticia 2"></a></div>
    <div class="slide"><a href="{% url 'computadoras' %}"><img src="{% static 'img/computerlabs.jpg' %}" alt="Noticia 3"></a></div>
    <div class="slide"><a href="{% static 'img/calendarioEscol.png' %}"><img src="{% static 'img/escolarizada.png' %}" alt="Noticia 4"></a></div>
    <div class="slide"><a href="{% static 'img/calendarioNoEscolpng.png' %}"><img src="{% static 'img/noescolarizada.png' %}" alt="Noticia 5"></a></div>
</div>
  <button class="arrow left" onclick="prevSlide()">&#10094;</button>
  <button class="arrow right" onclick="nextSlide()">&#10095;</button>
</div>
<br>

<script>
  let currentIndex = 0;

    function nextSlide() {
        currentIndex = (currentIndex + 1) % 5; // 5 es el número total de slides
        updateSlider();
    }

    function prevSlide() {
        currentIndex = (currentIndex - 1 + 5) % 5; // 5 es el número total de slides
        updateSlider();
    }

    function updateSlider() {
        const slider = document.querySelector('.slider');
        const slideWidth = document.querySelector('.slide').offsetWidth;
        const newPosition = -currentIndex * slideWidth;
        slider.style.transform = `translateX(${newPosition}px)`;
    }
</script>



{% endblock %}