{% extends "adminlte/acceso.html" %}{% block body %}
<!-- Agregando un margen superior para mover el diseño hacia abajo -->
<br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="text-align: center; background-color: #74b3c9; font-size: 30px; color: white;">
                    <h3 class="card-title">Lista de Alumnos</h3>
                </div>
                <div class="card-body">
                    <table id = "tabla-alumnos" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="text-align: center; font-size: 18px; background-color: #344498; color: rgb(217, 228, 248);">Nombre</th>
                                <th style="text-align: center; font-size: 18px; background-color: #4155be; color: white;">Apellido Paterno</th>
                                <th style="text-align: center; font-size: 18px; background-color: #344498; color: rgb(217, 228, 248);">Apellido Materno</th>
                                <th style="text-align: center; font-size: 18px; background-color: #4155be; color: white;">Boleta</th>
                                <th style="text-align: center; font-size: 18px; background-color: #344498; color: rgb(217, 228, 248);">Carrera</th>
                                <th style="text-align: center; font-size: 18px; background-color: #4155be; color: white;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for alumno in alumnos %}
                            <tr>
                                <td style="text-align: center; font-size: 16px; background-color: #cbcced; color: black;">{{ alumno.nombre }}</td>
                                <td style="text-align: center; font-size: 16px; background-color: #cacff0; color: black;">{{ alumno.apellido_p }}</td>
                                <td style="text-align: center; font-size: 16px; background-color: #cbcced; color: black;">{{ alumno.apellido_m }}</td>
                                <td style="text-align: center; font-size: 16px; background-color: #cacff0; color: black;">{{ alumno.boleta }}</td>
                                <td style="text-align: center; font-size: 16px; background-color: #cbcced; color: black;">{{ alumno.carrera.carrera }}</td>
                                <td>
                                    <a href="{% url 'editar_alumno' alumno.id %}" class="btn btn-primary btn-sm">Editar</a>
                                    <a href="{% url 'eliminar_alumno' alumno.id %}" class="btn btn-danger btn-sm" onclick="return confirm('¿Deseas eliminar este Alumno?')">Eliminar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="{% url 'agregar_alumno' %}" class="btn btn-success">Agregar Alumno</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#tabla-alumnos').DataTable();
        });
    </script>    
{% endblock %}